{% extends 'head.html' %}

{% block title %}Заявка №{{ id }}{% endblock %}

{% block main %}
{% with DatabaseAdress="http://172.21.19.202:9000/cloud/" %}
    <h3 class="bigtitle">Расчет нагрузки</h3>
    <div class="content">
        <div class="grid">
            <input name="Date" type="text" class="text-input" placeholder="Адрес" value="{{address}}">
            <input name="Price" type="text" class="text-input" placeholder="Количество пользователей" value="{{total_users}}">
        </div>
        {% for order in data.routers %}
        <span class="block-deep"><span class="number">Роутер №{{ order.id }}</span><a href="{% url 'router_url' order.id %}" class="list"><img class="image"  src="{{DatabaseAdress}}{{order.img}}" width="104" height="88" /><span class="title">{{ order.title }}</span></a><span class="desc-deep"> {{ order.desc }}</span>
        {% for router_info in ListRouter %}
            {% if router_info.id == order.id %}    
                <input name="Master" type="text" class="text-master" placeholder="Мастер роутер" value={% if router_info.master == None %}""{% else %}"{{router_info.master}}"{% endif %}><input name="Load" type="text" class="text-load" placeholder="Нагрузка" value="{{ router_info.load }}">
            {% endif %}
        {% endfor %}    
        </span>
        {% empty %}
            Список пуст
        {% endfor %}
    </div>
{% endwith %}
{% endblock %}  